
.mask{
position: relative;
background: url('../images/mask.png');
background-size: 100% 100%;
background-repeat: no-repeat;
margin-right: 5%;
margin-left: 5%;
height: 125px;
}

.type{
	position: absolute;
	bottom: 34px;
	left: 3%;
	width: 150px;
/* 	font-weight: bold; */
	color: #fff;
	font-size: 25px;

}

.specs{

	position: absolute;
	bottom: 34px;
	left: 17%;
	width: 18%;
	color: #fff;
	font-size: 14px;

}

.specs p{
	margin-bottom: 0;
}

.slideRec{
	position: absolute;
	left: 33%;
	top: 1px;

}

#sld{
	width: 100%;
	height: 124px;
}

#rec{
	position: absolute;
	height: 125px;
	left: 85%;
	top: 2px;
}