@import url(//fonts.googleapis.com/css?family=Dosis:400);
@import url(//fonts.googleapis.com/css?family=Dosis:700);

@import url(//fonts.googleapis.com/css?family=Denk+One);

@import url(//fonts.googleapis.com/css?family=Open+Sans:400);
@import url(//fonts.googleapis.com/css?family=Open+Sans:300);
@import url(//fonts.googleapis.com/css?family=Open+Sans:600);
@import url(//fonts.googleapis.com/css?family=Open+Sans:700);
@import url(//fonts.googleapis.com/css?family=Open+Sans:400italic);
@font-face{
}
*{
	margin: 0px;
	padding:0px;
}
html, body{
	height: 100%;
}
body{
	height: 100%;
	text-align: center;
	font-family: 'Dosis', sans-serif;
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #ffffff 44%, #e1e0e0 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(44%,#ffffff), color-stop(100%,#e1e0e0)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#ffffff 44%,#e1e0e0 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#ffffff 44%,#e1e0e0 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#ffffff 44%,#e1e0e0 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#ffffff 44%,#e1e0e0 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e1e0e0',GradientType=0 ); /* IE6-9 */

}
form{
	margin: 0 auto;
	width: 90%;

	background: #00a6cc; /* Old browsers */
	background: -moz-linear-gradient(top,  #00a6cc 0%, #007089 15%, #007089 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00a6cc), color-stop(15%,#007089), color-stop(100%,#007089)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #00a6cc 0%,#007089 15%,#007089 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #00a6cc 0%,#007089 15%,#007089 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #00a6cc 0%,#007089 15%,#007089 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #00a6cc 0%,#007089 15%,#007089 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a6cc', endColorstr='#007089',GradientType=0 ); /* IE6-9 */

padding: 5%;
}
form label{
	color: white;
}
form input{
	width: 50%;
	height: 25px;
	padding: 0 10px;
}
form input[type="submit"]{
	width: 25%;
	height: 40px;
	background: #007089;
	border: none;
	box-shadow: 1px 1px 4px black;
	color: white;
	transition: background .1s ease;
	cursor: pointer;
}
form input[type="submit"]:hover{
	background: #0094B5;	
}
#form-login h1{
	width: 100%;
	color: #0071b9;

	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #8ad1e7 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#8ad1e7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#8ad1e7 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#8ad1e7 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#8ad1e7 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#8ad1e7 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#8ad1e7',GradientType=0 ); /* IE6-9 */

	font-weight: lighter;
}
#container_login{
	padding: 5%;
	max-height: 100%;
}
#form-login{
	width: 35%;
	display: inline-block;
	margin: auto;
	min-height: 500px;
}
#container_login img{
	max-width: 400px;
}
.logo{
	
}
